<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        M - PIII
      </a>
    </div>
  </div>
</nav>


<div mm-banner>
  <h1>MeMayor</h1>
  <h4>A maior plataforma de desenvolvimento humanitário, aqui você ajuda sua cidade a crescer sem depender de politicos,
    conheça/crie e vote nas propostas estabelicidades pelos próprios cidadões</h4>
</div>

<div class="container">
  <h1>Cidades</h1>
  <div class="form-group" >
    <input type="text" class="form-control" id="search"
      ng-change="listCtrl.actions.onTypeSearch()"
      ng-model="listCtrl.search" />
  </div>

  <ul class="list-unstyled" ng-if="listCtrl.cities.length">
    <li ng-repeat="city in listCtrl.cities" >
      <div class="col-md-12">
        <div class="col-md-3">
          <h3 ui-sref="simpleTheme.city.profile({id: city._id })" ng-bind="city.name"></h3>
        </div>
        <div class="col-md-9" style="line-height: 50px; ">
           <b>IDH</b>:
           <span ng-bind="city.idh"></span>
        </div>
      </div>
   
    </li>
  </ul>

  <div class="row" ng-if="!listCtrl.cities.length && listCtrl.madeOneSearch && listCtrl.search">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>Nenhuma cidade encontrada</p>
    </div>
  </div>

</div>

