<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>


<div mm-banner>
  <h1>MeMayor</h1>
  <h4>A maior plataforma de desenvolvimento humanitário, aqui você ajuda sua cidade a crescer sem depender de politicos,
    conheça/crie e vote nas propostas estabelicidades pelos próprios cidadões</h4>
</div>

<div class="container">
  Cidades
  <div class="form-group" >
    <input type="text" class="form-control" id="search"
      ng-change="listCtrl.actions.onTypeSearch()"
      ng-model="listCtrl.search" />
  </div>

  <ul ng-if="listCtrl.cities.length">
    <li ng-repeat="city in listCtrl.cities">
      <h2 ui-sref="simpleTheme.city.profile({id: city.id })" ng-bind="city.name"></h2>
      <span>
        <b>IDH</b>:
        <span ng-bind="city.idh"></span>
        <b>Score</b>:
        <span ng-bind="city.score"></span>
      </span>
    </li>
  </ul>

  <div class="row" ng-if="!listCtrl.cities.length && listCtrl.madeOneSearch && listCtrl.search">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>Nenhuma cidade encontrada</p>
    </div>
  </div>

</div>

