<div class="sidenav collapsed" role="navigation" >
  <div class="header">
    <span class="icon-adm-logo"></span>
    <span class='title' ng-bind="'SIDENAV.HEADER' | translate"></span>
    <span class='company' ng-bind="$root.user.name"></span>
  </div>

  <div class="features">
    <ul>
      <li ui-sref-active="active" class='feature' ng-repeat="feature in attrs.features track by $index">
        <a ui-sref="{{feature.route}}" >
          <span class='icon' ng-class='feature.icon' uib-tooltip="{{feature.name | translate}}" tooltip-placement="right"></span>
          <!-- <span class="feature-name" ng-bind="feature.name | translate"></span> -->
        </a>
      </li>
    </ul>
  </div>
</div>
